.hero {
    block-size: 100vh;
    background-color: gray;
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    &__title {
        margin-block-start: 0;
        text-align: center;
        align-self: center;
        color: white;
        text-transform: uppercase;
        font-size: 3vmax;
        font-weight: 300;
    }
    &__button {
        padding-inline: 3rem;
        padding-block: 1rem;
        align-self: center;
        display: inline-block;
        max-inline-size: 9rem;
        background: transparent;
        color: white;
        text-transform: uppercase;
        letter-spacing: 4px;
        border: 2px solid #fff;
        cursor: pointer;
        transition: 300ms all;
        &:active {
            transform: scale(0.95);
        }
    }
    &__slides-buttons {
        align-self: center;
        margin-block-end: 1.5rem;
        display: flex;
        gap: 0.5rem;
        overflow-x: auto;
        scroll-snap-type: mandatory;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        &--cover {
            scroll-snap-align: start;
            flex-shrink: 0;
            // width: 300px;
            // height: 300px;
            // margin-right: 50px;
            // border-radius: 10px;
            // background: #eee;
            transform-origin: center center;
            transform: scale(1);
            transition: transform 0.5s;
            position: relative;

            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 100px;
        }
        &--button {
            margin: 0;
            appearance: none;
            background-color: #fff;
            font: inherit;
            block-size: 0.8em;
            inline-size: 0.8em;
            border: 0.15em solid #fff;
            border-radius: 50%;
            transform: translateY(-0.075em);
            display: grid;
            place-content: center;
            &::before {
                content: "";
                inline-size: 0.65em;
                block-size: 0.65em;
                border-radius: 50%;
                transform: scale(0);
                transition: 120ms transform ease-in-out;
                box-shadow: inset 1em 1em #fff;
                &:checked {
                    transform: scale(1);
                }
            }
            &:focus {
                outline: max(2px, 0.15em) solid #fff;
                outline-offset: max(2px, 0.15em);
            }
        }
    }
}
