.product {
    block-size: 35rem;
    display: flex;
    justify-content: center;
    // flex-wrap: wrap;
    &__cover {
        inline-size: 50%;
        max-inline-size: 50rem;
        // min-inline-size: 20rem;
        // block-size: auto;
        aspect-ratio: 1/1;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        z-index: 1;
        & img {
            position: relative;
        }
        &--button {
            padding-inline: 3rem;
            padding-block: 1rem;
            align-self: center;
            display: inline-block;
            max-inline-size: 9rem;
            background: transparent;
            color: white;
            text-transform: uppercase;
            letter-spacing: 4px;
            border: 2px solid #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer;
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.6);
            z-index: -1;
        }
    }
    &__details {
        inline-size: 50%;
        max-inline-size: 50rem;
        // block-size: auto;
        aspect-ratio: 1/1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &--image {
            margin: 0;
            max-inline-size: 30%;
            max-block-size: 30%;
            & img {
                inline-size: 100%;
            }
        }
        &--title {
            font-weight: bold;
            font-size: 2vmax;
        }
        &--divider {
            border-top: 1px solid black;
            block-size: 2px;
            inline-size: 100%;
            max-inline-size: 50px;
            padding: 0;
            margin: 0 auto;
        }
        &--description {
            font-size: 2vh;
            text-align: center;
            color: #777;
        }
        &--see-more {
            font-size: 2vh;
            text-transform: uppercase;
            letter-spacing: 0.3em;
            color: #777;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
                & .fas {
                    transform: translateY(0);
                    transform: translateX(0.3em);
                }
            }
            & .fas {
                margin-inline-end: 0.5em;
                &:hover {
                    transform: translateY(0);
                    transform: translateX(0.3em);
                }
            }
        }
        &--fail {
            text-align: center;
            font-size: 1.5rem;
        }
    }
    &:nth-child(even) &__cover {
        order: 2;
    }
    &:nth-child(even) &__details {
        order: 1;
    }
}
