.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &--title {
        margin: 0;
        text-transform: uppercase;
        font-size: 2vmin;
        letter-spacing: 1px;
        color: #777;
    }
    &--subtitle {
        margin: 0.5rem;
        text-transform: uppercase;
        font-size: 5vmin;
        font-weight: 300;
    }
    &--text {
        margin: 0;
        font-size: 2.5vmin;
    }
    &__form {
        margin-block-start: 1.5rem;
        inline-size: 50%;
        max-inline-size: 42.6rem;
        text-align: center;
        position: relative;
        &--input {
            padding: 1rem;
            max-inline-size: 100%;
            inline-size: 40.5rem;
            border: 1px solid #ccc;
            position: relative;
            background: transparent;
            outline: none;
            transition: 400ms;
            &:focus ~ .focus-bg {
                inline-size: 100%;
                transition: 300ms;
            }
        }
    }
}

.focus-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #ededed;
    transition: 0.3s;
    z-index: -1;
}

.is-valid {
    border: 4px solid rgb(21, 138, 21);
    & ~ .focus-bg::after {
        content: "Email válido";
        display: block;
        inline-size: auto;
        color: rgb(21, 138, 21);
        font-size: 1em;
        position: absolute;
        bottom: -1.5em;
        left: 0;
    }
}

.arrow {
    display: block;
    font-size: 1.5em;
    position: absolute;
    top: 50%;
    right: 2.5%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: 400ms all;
    &:hover {
        transform: translate(5px, -10px);
    }
}
