.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &--title {
        margin: 0;
        text-transform: uppercase;
        font-size: 2vmin;
        letter-spacing: 1px;
        color: #777;
    }
    &--subtitle {
        margin: 0.5rem;
        text-transform: uppercase;
        font-size: 5vmin;
        font-weight: 300;
    }
    &--text {
        margin: 0;
        font-size: 2.5vmin;
    }
    &__form {
        margin-block-start: 1.5rem;
        inline-size: 50%;
        text-align: center;
        position: relative;
        &--input {
            padding: 1rem;
            max-inline-size: 100%;
            inline-size: 40rem;
        }
    }
}

.is-valid {
    border: 2px solid rgb(21, 138, 21);
    &::after {
        display: block;
        content: "Email válido :D";
        color: red;
        font-size: 2em;
        border: 1px solid red;
        position: absolute;
        z-index: 2;
    }
}

.arrow {
    display: block;
    font-size: 1.5em;
    position: absolute;
    top: 50%;
    right: 2.5%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: 400ms all;
    &:hover {
        transform: translate(5px, -10px);
    }
}
