.header {
    display: flex;
    justify-content: space-between;
    &__logo {
        margin: 0;
        margin-inline-start: 1rem;
        min-inline-size: 3rem;
        min-block-size: 3rem;
        inline-size: 7rem;
        block-size: 7rem;
        cursor: pointer;
        img {
            width: 100%;
        }
    }
    &__menu {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        text-transform: uppercase;
        font-size: 1.5vmin;
        letter-spacing: 1px;
        position: relative;
        p {
            padding: 1rem;
            position: relative;
            cursor: pointer;
            &:nth-of-type(1):hover {
                text-decoration: underline;
                & .fas {
                    transform: translateY(5px);
                }
            }
            &:nth-of-type(2):hover {
                text-decoration: underline;
            }
            &:nth-of-type(2)::after {
                content: "";
                background: white;
                position: absolute;
                bottom: 10;
                left: 0;
                block-size: 50%;
                inline-size: 1px;
            }
        }
    }
}

.nav__list {
    padding: 0;
    display: flex;
    list-style: none;
    &--item {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        img {
            margin-block-end: 0.5rem;
            inline-size: 2rem;
        }
        a {
            color: #fff;
            font-family: "Nunito", sans-serif;
            font-size: 2.5vmin;
            text-decoration: none;
            text-transform: uppercase;
        }
        &:nth-of-type(2)::after,
        &:nth-of-type(3)::after,
        &:nth-of-type(4)::after {
            content: "";
            background: white;
            position: absolute;
            bottom: 0;
            left: 0;
            block-size: 75%;
            inline-size: 1px;
        }
    }
}

.fas {
    margin-inline-start: 0.5rem;
    transition: 300ms all;
    &:hover {
        transform: translateY(5px);
    }
}
