.footer {
    margin-block-start: 3rem;
    padding: 2.5vw;
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    box-sizing: border-box;
    box-shadow: inset 0 1px 6px #777;
    &__logo {
        margin-inline-start: 1.2em;
        margin-inline-end: 0.5rem;
        min-inline-size: 2rem;
        inline-size: 4rem;
        & img {
            inline-size: 100%;
        }
    }
    &__info {
        display: flex;
    }
    &__list {
        min-inline-size: 2rem;
        padding: 0;
        margin: 0;
        list-style: none;
        position: relative;
        &--item {
            margin-block-end: 0.5rem;
            line-height: 1;
        }
        & a {
            color: #000;
            text-decoration: none;
            text-transform: uppercase;
            font-family: "Nunito", sans-serif;
            font-size: 1.5vmin;
        }
        &:nth-of-type(2)::after {
            content: "";
            background: rgb(235, 235, 235);
            position: absolute;
            bottom: 0;
            left: -50%;
            block-size: 75%;
            inline-size: 1px;
        }
    }
    &__guarantee {
        max-inline-size: 8em;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        box-sizing: border-box;
        &--title {
            margin-block-start: 0;
            text-transform: uppercase;
            font-size: 1.5vmin;
            font-family: "Nunito", sans-serif;
        }
        &::after {
            content: "";
            background: rgb(235, 235, 235);
            position: absolute;
            bottom: 0;
            left: -50%;
            block-size: 75%;
            inline-size: 1px;
        }
    }
    &__tags {
        max-inline-size: 11rem;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 5px;
        &--image {
            max-inline-size: 1rem;
            margin: 0;
            inline-size: 3rem;
            & img {
                inline-size: 100%;
            }
        }
        &--info {
            max-inline-size: 5rem;
            font-size: 1.5vmin;
            text-transform: uppercase;
        }
    }
    &__social {
        margin-inline-end: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-start;
        gap: 0.8rem;
        position: relative;
        &--text {
            margin-block-start: 0;
            text-transform: uppercase;
            font-size: 1.5vmin;
            font-family: "Nunito", sans-serif;
        }
        &::after {
            content: "";
            background: rgb(235, 235, 235);
            position: absolute;
            bottom: 0;
            left: -50%;
            block-size: 75%;
            inline-size: 1px;
        }
    }
}

.fab {
    font-size: 2vmin;
    cursor: pointer;
}
